* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #F9E5D8;
    font-family: "微軟正黑體";
}

h2 {
    margin: 30px;
}

.check-center {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.menu {
    background-color: #F8EDEB;
    text-align: center;
    width: 55.5%;
    height: fit-content;
    border-radius: 30px;
}

.table-center {
    display: flex;
    justify-content: center;
}

table {
    background-color: white;
    width: 83%;
    height: 550px;
    text-align: center;
    border-collapse: collapse;
}

.first-none {
    border-bottom: 1px black solid;
    width: 35%;
}

.first-name {
    border-bottom: 1px black solid;
    height: 55px;
    width: 25%;
}

.first-count {
    border-bottom: 1px black solid;
    height: 55px;
    width: 17.5%;
}

.first-total {
    border-bottom: 1px black solid;
    height: 55px;
    width: 17.5%;
}

.first-delete {
    border-bottom: 1px black solid;
    height: 55px;
    width: 4.5%;
}

td img {
    width: 200px;
    height: 154px;
}

.items {
    font-weight: bold;
    font-size: 18px;
}

.del  input{
    margin: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    font-size: 13px;
}

.del  input:hover{
    background-color: #eee;
    cursor: wait;
}

.total {
    
    font-weight: bold;
    font-size: 22px;
    height: 70px;
    font-size: 20px; 
    font-weight: bold; 
    text-align: right;
    padding-right: 40px;
}

.voucher {
    background-color: #F8EDEB;
    border-radius: 20px;
    border: none;
    height: 40px;
    font-size: 16px;
    width: 170px;
    text-align: center;
}


/*radio設定*/
.rbtn-height {
    height: 80px;
}


#radio-btn input[type="radio"] {
    display: none;
}

#radio-btn1 input[type="radio"] {
    display: none;
}

#radio-btn input:checked + .button {
    background-color:#FEC89A;
    color: black;
    cursor: grabbing;
}
#radio-btn1 input:checked + .button {
    background-color:#FEC89A;
    color: black;
    cursor: grabbing;
}

#radio-btn .button {
    background-color: #F9DCC4;
    color: black;
    font-size: 16px;
    padding: 10px 40px;
}
#radio-btn1 .button {
    background-color: #F9DCC4;
    color: black;
    font-size: 16px;
    padding: 10px 40px;
}

#radio-btn .button:hover {
    border: dashed 2px #F9DCC4;
    background-color: white;
    color: black;
    cursor: grab;
}
#radio-btn1 .button:hover {
    border: dashed 2px #F9DCC4;
    background-color: white;
    color: black;
    cursor: grab;
}

#radio-btn .round {
    border-radius: 30px;
}
#radio-btn1 .round {
    border-radius: 30px;
}
/*radio設定*/

.btn-center {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.goshopping input {
    width: 200px;
    height: 45px;
    border: 0;
    border-radius: 15px;
    background-color: #FEC89A;
    font-size: 17px;
    box-shadow: 0 5px 2px gray;
    display: inline-block;
} 

.checkout input {
    width: 250px;
    height: 45px;
    border: 0;
    border-radius: 15px;
    background-color: #FCD5CE;
    font-size: 18px;
    box-shadow: 0 5px 3px gray;
    display: inline-block;
} 

.goshopping input:hover {
    width: 220px;
    height: 48px;
    font-size: 21px;
}

.checkout input:hover {
    width: 270px;
    height: 48px;
    font-size: 22px;
} 

#num,
#up,
#down,
#Num,
#Up,
#Down {
  text-align: center;
  width: 20px;
  background-color: transparent;
  color: #000000;
  border: none;
}
